/****** Script for SelectTopNRows command from SSMS  ******/
SELECT
      [ANALYTE]
      ,[ANALYTESINONYM]
      ,[FORMULA]
      ,[ORIGSTS]
  FROM [STARLIMSLIVE_DATA].[dbo].[ANALYTEPROPERTIES]