/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [ORIGREC]
      ,[ANALTYPE]
      ,[ANALYTE]
      ,[GROUPING]
      ,[HIGHA]
      ,[HIGHB]
      ,[LOWA]
      ,[LOWB]
      ,[ORIGSTS]
      ,[PICTURE]
      ,[PRINTFLAG]
      ,[SCHEMANAME]
      ,[SPECNO]
      ,[SPECSORTER]
      ,[SYNONIM]
      ,[TESTCODE]
      ,[UNITS]
      ,[SPTESTSORTER]
      ,[TESTNO]
  FROM [STARLIMSLIVE_DATA].[dbo].[SPEC_ANALYTES]
  WHERE [HIGHA] NOT like 'NULL' 
  Or [LOWA] NOT like 'NULL'