/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [ORIGREC]
      ,[ANALTYPE]
      ,[ANALYTE]
      ,[CALCFLAG]
      ,[CALCNAME]
      ,[HIGH]
      ,[LOW]
      ,[LTDFLAG]
      ,[NOREP]
      ,[OVERWRITECALCUL]
      ,[PICTURE]
      ,[SCHEMANAME]
      ,[SINONYM]
      ,[SORTER]
      ,[TESTCODE]
      ,[UNITS]
      ,[USEFLAG]
      ,[ORIGSTS]
  FROM [STARLIMSLIVE_DATA].[dbo].[ANALYTES]
  Order by 